config SHIELD_TKBMINI_LEFT
	def_bool $(shields_list_contains,tbkmini_left)

config SHIELD_TKBMINI_RIGHT
	def_bool $(shields_list_contains,tbkmini_right)

config SHIELD_TBKMINI_DONGLE
	def_bool $(shields_list_contains,tbkmini_dongle)
	