if SHIELD_TBKMINI_DONGLE

config ZMK_KEYBOARD_NAME
        default "TBK Mini"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
        default y

config ZMK_USB
        default y

endif

if SHIELD_TBKMINI_LEFT || SHIELD_TBKMINI_RIGHT || SHIELD_TBKMINI_DONGLE

config ZMK_SPLIT
        default y

config ZMK_BLE
        default y

endif
