#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
     macros {
      sqt_spc: sqt_spc {
        label = "ZM_sqt_spc";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        tap-ms = <30>;
        bindings = <&kp SQT &kp SPACE>;
      };
      grave_spc: grave_spc {
        label = "ZM_grave_spc";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        tap-ms = <30>;
        bindings = <&kp GRAVE &kp SPACE>;
      };
      tilde_spc: tilde_spc {
        label = "ZM_tilde_spc";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        tap-ms = <30>;
        bindings = <&kp TILDE &kp SPACE>;
      };
      caret_spc: caret_spc {
        label = "ZM_tilde_spc";
        compatible = "zmk,behavior-macro";
        #binding-cells = <0>;
        tap-ms = <30>;
        bindings = <&kp CARET &kp SPACE>;
      };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        mac {
            bindings = <
                &kp TAB       &kp Q  &kp W  &kp F     &kp P    &kp B      &kp J        &kp L          &kp U     &kp Y    &kp SEMI  &kp MINUS
                &lt LGUI ESC  &kp A  &kp R  &kp S     &kp T    &kp G      &kp M        &kp N          &kp E     &kp I    &kp O     &kp SQT
                &kp LSHFT     &kp Z  &kp X  &kp C     &kp D    &kp V      &kp K        &kp H          &kp COMMA &kp DOT  &kp SLASH &kp END
                                            &kp LALT  &kp SPC  &kp LCTL   &lt 1 ENTER  &lt LSFT BSPC  &kp LALT
            >;
        };

        macsym {
            bindings = <
                &kp GRAVE  &kp EXCL   &kp AMPS  &kp LBRC  &kp RBRC  &kp CARET     &kp LG(LS(4))  &kp 7   &kp 8  &kp 9  &kp COLON  &kp DEL
                &kp HASH   &kp EQUAL  &kp DLLR  &kp LPAR  &kp RPAR  &kp TILDE     &kp LC(UP)    &kp 4   &kp 5  &kp 6  &kp PLUS  &kp STAR
                &kp PIPE   &kp AT     &kp PRCNT &kp LBKT  &kp RBKT  &kp UP        &kp 0         &kp 1   &kp 2  &kp 3  &kp BSLH  &kp HOME
                                                &kp LEFT  &kp DOWN  &kp RIGHT     &kp NO        &kp NO  &kp NO
            >;
        };

        win {
            bindings = <
                &kp TAB       &kp Q  &kp W  &kp F     &kp P    &kp B      &kp J        &kp L          &kp U     &kp Y    &kp SEMI  &kp MINUS
                &mt LCTL ESC  &kp A  &kp R  &kp S     &kp T    &kp G      &kp M        &kp N          &kp E     &kp I    &kp O     &sqt_spc
                &kp LSHFT     &kp Z  &kp X  &kp C     &kp D    &kp V      &kp K        &kp H          &kp COMMA &kp DOT  &kp SLASH &kp END
                                            &kp LALT  &kp SPC  &kp LGUI   &lt 3 ENTER  &lt LSFT BSPC  &mo 4
            >;
        };

        winsym {
            bindings = <
                &grave_spc   &kp EXCL    &kp AMPS   &kp LBRC  &kp RBRC  &caret_spc    &kp LG(LS(S))  &kp 7         &kp 8  &kp 9  &kp COLON  &kp DEL
                &kp HASH     &kp EQUAL   &kp DLLR   &kp LPAR  &kp RPRN  &tilde_spc    &kp LG(UP)     &kp 4         &kp 5  &kp 6  &kp PLUS   &kp STAR
                &kp PIPE     &kp AT      &kp PRCNT  &kp LBKT  &kp RBKT  &kp UP        &kp 0          &kp 1         &kp 2  &kp 3  &kp BSLH   &kp HOME
                                                    &kp LEFT  &kp DOWN  &kp RIGHT     &kp NO         &kp LG(LEFT)  &kp LG(RIGHT)
            >;
        };

        int {
            bindings = <
                &kp NO    &kp NO     &kp NO  &kp NO     &kp NO  &kp NO      &kp NO  &kp NO  &kp RA(Y)  &kp NO  &kp NO     &kp NO
                &kp NO    &kp RA(Q)  &kp NO  &kp RA(S)  &kp NO  &kp NO      &kp NO  &kp NO  &kp RA(5)  &kp NO  &kp RA(P)  &kp NO
                &kp LSFT  &kp NO     &kp NO  &kp NO     &kp NO  &kp NO      &kp NO  &kp NO  &kp NO     &kp NO  &kp NO     &kp NO
                                             &kp NO     &kp NO  &kp NO      &kp NO  &kp LSFT  &kp NO
            >;
        };

        template {
            bindings = <
                &kp NO  &kp NO  &kp NO  &kp NO  &kp NO  &kp NO      &kp NO  &kp NO  &kp NO  &kp NO  &kp NO  &kp NO
                &kp NO  &kp NO  &kp NO  &kp NO  &kp NO  &kp NO      &kp NO  &kp NO  &kp NO  &kp NO  &kp NO  &kp NO
                &kp NO  &kp NO  &kp NO  &kp NO  &kp NO  &kp NO      &kp NO  &kp NO  &kp NO  &kp NO  &kp NO  &kp NO
                                        &kp NO  &kp NO  &kp NO      &kp NO  &kp NO  &kp NO
            >;
        };
    };
};
